* {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
    text-align: center;
    color: white;
}

header, footer {
    margin: 2rem 0;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

nav {
    margin: 2rem;
}

a {
    color: aquamarine;
}

p {
    font-size: 21px;
    color: gray;
}

.copyright {
    text-align: right;
}

.mission picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
}